name: Build and Test with Docker

on:
  push:
    branches:
      - main  # Modify this according to your branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t hello-world-app .

      - name: Run Docker container and test
        run: docker run hello-world-app
